<div class="home-background">
    <div class="center-box container">
        <form id="login">
            <div class="input-box">
                <div>Name </div>
                <input type="text" placeholder="My Name" id="name" ng-model="details.name" class="form-control">
            </div>
            <div class="input-box">
                <div> Room Name</div>
                <input type="text" placeholder="Room Name" id="roomName" ng-model="details.room" class="form-control">
            </div>
            <button type="button" class="btn btn-primary" ng-click="go()">START</button>
        </form>
    </div>
</div>
